<% include partials/header.ejs %>
<h1>login</h1>

<form action="/login" method="post" class="form-group">
  <input type="text" class="form-control" name="username" placeholder="username">
  <input type="password" class="form-control" name="password" placeholder="password">
  <input type="submit" class="btn btn-primary" value="submit">
</form> 
<% include partials/footer.ejs %>
